@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/outfit-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/outfit-v15-latin-600.woff2") format("woff2");
}

:root {
  /* Colors - Primary */
  --clr-primary-400: hsl(223 23% 46%);
  --clr-primary-500: hsl(223 36% 14%);
  --clr-primary-600: hsl(223 30% 9%);

  /* Colors - Accent */
  --clr-accent-1: hsl(0 97% 63%);

  /* Colors - Neutral */
  --clr-neutral-100: hsl(0 100% 100%);
  --clr-neutral-900: hsl(0 0% 0%);

  /* Colors - Gradients */
  --clr-gradient-1: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.75));

  /* Font Families */
  --ff-base: "Outfit", system-ui, -apple-system, sans-serif;

  /* Font Sizes */
  --fs--2: clamp(0.651rem, 0.6281rem + 0.1022vw, 0.72rem); /* Step -2: 10.4167px → 11.52px */
  --fs--1: clamp(0.7813rem, 0.7417rem + 0.1759vw, 0.9rem); /* Step -1: 12.5px → 14.4px */
  --fs-0: clamp(0.9375rem, 0.875rem + 0.2778vw, 1.125rem); /* Step 0: 15px → 18px */
  --fs-1: clamp(1.125rem, 1.0313rem + 0.4167vw, 1.4063rem); /* Step 1: 18px → 22.5px */
  --fs-2: clamp(1.35rem, 1.2141rem + 0.6042vw, 1.7578rem); /* Step 2: 21.6px → 28.125px */
  --fs-3: clamp(1.62rem, 1.4276rem + 0.8552vw, 2.1973rem); /* Step 3: 25.92px → 35.1563px */

  /* @link https://utopia.fyi/type/calculator?c=360,15,1.2,1440,18,1.25,3,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 600;

  /* Margin / Padding Spaces */
  --space-xs: clamp(0.5rem, 0.4792rem + 0.0926vw, 0.5625rem); /* Space xs: 8px → 9px */
  --space-s: clamp(1rem, 0.9583rem + 0.1852vw, 1.125rem); /* Space s: 16px → 18px */
  --space-m: clamp(1.5rem, 1.4375rem + 0.2778vw, 1.6875rem); /* Space m: 24px → 27px */
  --space-l: clamp(2rem, 1.9167rem + 0.3704vw, 2.25rem); /* Space l: 32px → 36px */
  --space-xl: clamp(2.5rem, 2.3958rem + 0.463vw, 2.8125rem); /* Space xl: 40px → 45px */
  --space-2xl: clamp(3.5rem, 3.3542rem + 0.6481vw, 3.9375rem); /* Space 2xl: 56px → 63px */
  --space-3xl: clamp(4.5rem, 4.3125rem + 0.8333vw, 5.0625rem); /* Space 3xl: 72px → 81px */
  --space-4xl: clamp(5rem, 4.7917rem + 0.9259vw, 5.625rem); /* Space 4xl: 80px → 90px */

  /* Space One-Step-Up pairs */
  --space-xs-s: clamp(0.5rem, 0.2917rem + 0.9259vw, 1.125rem); /* Space xs-s: 8px → 18px */
  --space-s-m: clamp(1rem, 0.7708rem + 1.0185vw, 1.6875rem); /* Space s-m: 16px → 27px */
  --space-m-l: clamp(1.5rem, 1.25rem + 1.1111vw, 2.25rem); /* Space m-l: 24px → 36px */
  --space-l-xl: clamp(2rem, 1.7292rem + 1.2037vw, 2.8125rem); /* Space l-xl: 32px → 45px */
  --space-xl-2xl: clamp(2.5rem, 2.0208rem + 2.1296vw, 3.9375rem); /* Space xl-2xl: 40px → 63px */
  --space-2xl-3xl: clamp(3.5rem, 2.9792rem + 2.3148vw, 5.0625rem); /* Space 2xl-3xl: 56px → 81px */
  --space-3xl-4xl: clamp(4.5rem, 4.125rem + 1.6667vw, 5.625rem); /* Space 3xl-4xl: 72px → 90px */

  /* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1440,18,1.25,3,2,&s=0.5,1.5|2|2.5|3.5|4.5|5,&g=s,l,xl,12 */
}

/* ******** RESET ******** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* stops mobile browsers from trying to adjust text sizes for mobile */
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  /* stop macOS from rendering fonts thicker */
  -webkit-font-smoothing: antialiased;
  scrollbar-gutter: stable;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  min-block-size: 100svh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
input,
label,
button {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

/* ******** GENERAL STYLES ******** */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
}

/* ******** TYPOGRAPHY******** */

/* ******** COMPOSITION / LAYOUT ******** */
.wrapper {
  max-inline-size: 70em;
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  --column-count: 1;
  --column-size: 1fr;
  --column-template: repeat(var(--column-count, 1), var(--column-size, 1fr));

  display: grid;
  gap: var(--gap, 1rem);
  grid-template-columns: var(--column-template);
}

.grid-auto {
  --min-col-size: 200px;
  --item-placement: auto-fit;
  display: grid;
  gap: var(--gap, 1rem);
  grid-template-columns: repeat(var(--item-placement), minmax(min(var(--min-col-size), 100%), 1fr));
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.place-center {
  align-items: center;
  justify-content: center;
}

/* ******** UTILITIES ******** */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.hidden {
  display: none;
}

/* ******** COMPONENTS ******** */
a.active {
  color: var(--clr-accent-1);
}

/* ******** BLOCK STYLES ******** */

/* ******** EXCEPTIONS ******** */
